body {
    font-family: Arial;
    margin: 0;
    background: #f4efe9
}

.banner {
    background: #87a1d1;
    color: white;
    text-align: center;
    padding: 30px
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px
}

.container-produto {
    background: rgb(254, 255, 243);
    width: 250px;
    padding: 15px;
    border-radius: 10px
}

.placeholder {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd
}

table {
    width: 100%;
    border-collapse: collapse
}

th,td {
    border: 1px solid #ccc;
    padding: 8px
}